body{
    background: linear-gradient(to right, #FFD3A5, #fd6585)
}

.language u, .framework u { 
    display: flex;
    flex-direction: column;
}


.social{float: left;
    position: relative;
}

.social-icon{
    color: darkmagenta;
    font-size: 15em;
    position: relative; bottom: 150px; left: 0px;
    height: 110px;
}

.social-icon2{
    color:deeppink;
    font-size: 15em;
    position: relative; left: 300px; bottom: 670px;
}

.social-icon3{
    color:blue;
    font-size: 15em;
    position: relative; left: 600px; bottom: 1200px;
}

#my-icon{
    color: aqua;
    font-size: 20em;
    position: relative; left: 900px; bottom: 1855px;
    cursor: pointer;
}

h1{
    position: relative;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    justify-content: flex-end;
}

.navbar a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 15px;
    display: block;
    border-bottom: 2px solid transparent; 
    transition: all .55s ease;
    text-align: center;
}

.navbar a:hover{
    border-bottom: 2px solid black;
}

#indexp{
    font-size: 3em;
    font-weight: 1000;
}

#aboutp{
    font-size: 3em;
    font-weight: 1000;
}

#projectsp{
    font-size: 3em;
    font-weight: 1000;
}

#skillsp{
    font-size: 3em;
    font-weight: 1000;
}

.image_wrapper {
    display:flex;
    gap: 150px;
}

.img{
    width: 100%;
    display: flex;
    justify-content: center;
}