body{background-color:darkcyan}
.img{
    position: relative; left: 700px;
}
.img1{
    position: relative; left: 25px; top: 100px;
}
.img2{
    position: relative; left: 400px; bottom: 125px;
}
.img3{
    position: relative; bottom: 350px; left: 900px;
}
.img4{
    position: relative; bottom: 595px; left: 1350px;
}
.img5{
    position: relative; right: 1300px; top: 200px;
}
.language u{ float: left;
    position: relative; top: 50px; left: 50px;
}
.framework u{float: left;
    position: relative; right: 70px; top: 500px;
}
.social{float: left;
    position: relative;
}
.social-icon{
    color: darkmagenta;
    font-size: 15em;
    position: relative; bottom: 150px; left: 0px;
    height: 110px;
}
.social-icon2{
    color:deeppink;
    font-size: 15em;
    position: relative; left: 300px; bottom: 670px;
}
.social-icon3{
    color:blue;
    font-size: 15em;
    position: relative; left: 600px; bottom: 1200px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    width: 255px;
}
.navbar a:hover{
    background-color: grey;
}
.navbar li{
    float: left;
}
