body{background-color:darkcyan}
img{
width: 350px;
position: relative; left: 550px;
}
.social-icon{
    color:darkmagenta;
    font-size: 2em;
    position: relative; bottom: 20px;
}
.social-icon2{
    color:deeppink;
    font-size: 2em;
    position: relative; left: 40px; bottom: 91.5px;
}
.social-icon3{
    color:blue;
    font-size: 2em;
    position: relative; left: 80px; bottom: 164px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    padding: 0;
    background-color: black;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    width: 330px;
}
.navbar a:hover{
    background-color: grey;
}
.navbar li{
    float: left;
}
main{
    text-align: center;
}
